<div>

  <h3>Aqui los detalles de un pokemon</h3>

  <div>
    <h4>{{this.pokemon.number}} {{this.pokemon.name}}</h4>
    <img src="{{this.pokemon.url}}" alt="pokemon" height="300px">
    {{#each this.pokemon.type}}
      <li>{{this}}</li>
    {{/each}}
  </div>

</div>